<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================
Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim
=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='material-dashboard/assets/css/material-dashboard.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="main-panel">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="default-alert alert alert-warning alert-dismissible" role="alert">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
                {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='material-dashboard/assets/js/core/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='material-dashboard/assets/js/core/popper.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='material-dashboard/assets/js/core/bootstrap-material-design.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='material-dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='material-dashboard/assets/js/plugins/bootstrap-notify.js') }}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ url_for('static', filename='material-dashboard/assets/js/material-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>

</body>


</html>